NODE_ENV=development
PORT=3000
API_PREFIX=api
API_VERSION=v1
ALLOWED_ORIGINS=http://localhost:4200
APP_VERSION=0.1.0
FIRESTORE_MONGODB_URI=
FIRESTORE_DATABASE_NAME=lost-key-finder
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_JWT_AUDIENCE=
SUPABASE_JWT_ALGORITHM=ES256
